<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://114.132.245.36:5432/test"/>
                <property name="username" value="postgres"/>
                <property name="password" value="qihaixing"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/student.xml"/>
    </mappers>
</configuration>